.title {
  margin-top: 50px;
  margin-bottom: 100px;
}
.title_content {
  color: #262424;
  font-size: 36px;
}
.name {
  font-size: 20px;
}
.designation {
  color: #73737b;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
.icon a {
  margin: 12px;
}

/* accomodation css */
.accomodation_card_bg {
  background-color: rgba(250, 205, 2, 0.15);
  border-radius: 31px;
}

.accomodation_main_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #1d4a89;
}
.accomodation_bluetitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #1d4a89;
}
.accomodation_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #262424;
}
.accomodation_content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  color: #262424;
}

.learn_more_btn {
  background: #facd02;
  border-radius: 4px;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border: none;
}

/* supporting organization css */

.card {
  height: 100%;
  border: none;
  border-radius: 5px;
}

/* exhibitor section css  */
.exhibitor_btn {
  background: #fdf0b3;
  border-radius: 4px;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border: none;
}
.exhibitor_content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #262424;
}
.exhibitor_content a {
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #1d4a89;
}

.reportTerm p {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #73737b;
}
.reportTerm a {
  text-decoration: none;
  font-weight: bolder;
  color: #1d4a89;
}
.section_gap {
  margin-bottom: 120px;
}
.inputField {
  background-color: #f3f3f3;
  height: 44px;
  border-radius: 4px;
}
.radioOption {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #73737b;
}
.submit_btn {
  background-color: #1d4a89;
}

.confirm {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1d4a89;
}


.see_all_btn{
  background-color: #262424;
  border-radius: 4px;
  padding: 15px 40px;
  border: none;
}
