.title{
    margin-top: 50px;
    margin-bottom: 100px;
}
.title_content{
    color:#262424;
    font-size: 36px;
}
.name{
font-size: 20px;
}
.designation {
  color: #73737b;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
.icon a{
    margin: 12px;
}
